In [2]:
import pandas as pd

data1 = pd.read_excel("Dataset/bpbd-od_17599_jml_kejadian_bencana_angin_topanangin_puting_beliung___data.xlsx")

data2 = pd.read_excel("Dataset/bps-od_18026_indeks_kedalaman_kemiskinan_berdasarkan_kabupatenkota_data.xlsx")

data3 = pd.read_excel("Dataset/dpmdes-idm_jml_kejadian_bencana_tanah_longsor__des_kel_data.xlsx")

In [28]:
df = pd.DataFrame(data1)

df.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_puting_beliung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,2,KEJADIAN,2012
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,27,KEJADIAN,2012
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,23,KEJADIAN,2012
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,3,KEJADIAN,2012
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,28,KEJADIAN,2012

In [42]:
# df['kolom'].apply(func)
# df = df.drop(['nama_provinsi'], axis=1)
# df.drop_duplicates()
df = df.rename(columns={'kode_provinsi':'Kode Provinsi', 'nama_kabupaten_kota': 'Nama Kabupaten/Kota'})
df.sort_values('Nama Kabupaten/Kota', ascending=False)

,id,Kode Provinsi,kode_kabupaten_kota,Nama Kabupaten/Kota,jumlah_puting_beliung,satuan,tahun
133,134,32,3278,KOTA TASIKMALAYA,13,KEJADIAN,2016
79,80,32,3278,KOTA TASIKMALAYA,1,KEJADIAN,2014
187,188,32,3278,KOTA TASIKMALAYA,31,KEJADIAN,2018
25,26,32,3278,KOTA TASIKMALAYA,0,KEJADIAN,2012
52,53,32,3278,KOTA TASIKMALAYA,1,KEJADIAN,2013
...,...,...,...,...,...,...,...
111,112,32,3204,KABUPATEN BANDUNG,7,KEJADIAN,2016
138,139,32,3204,KABUPATEN BANDUNG,9,KEJADIAN,2017
246,247,32,3204,KABUPATEN BANDUNG,23,KEJADIAN,2021
165,166,32,3204,KABUPATEN BANDUNG,7,KEJADIAN,2018
84,85,32,3204,KABUPATEN BANDUNG,11,KEJADIAN,2015

In [56]:
# df['Kode Provinsi']
df[['Kode Provinsi', 'jumlah_puting_beliung']]
df.iloc[2, 2]
df.loc[2, 'Kode Provinsi']
df = df[df['jumlah_puting_beliung'] > 0]
df.sort_values('jumlah_puting_beliung')

,id,Kode Provinsi,kode_kabupaten_kota,Nama Kabupaten/Kota,jumlah_puting_beliung,satuan,tahun
173,174,32,3212,KABUPATEN INDRAMAYU,1,KEJADIAN,2018
238,239,32,3275,KOTA BEKASI,1,KEJADIAN,2020
124,125,32,3217,KABUPATEN BANDUNG BARAT,1,KEJADIAN,2016
248,249,32,3206,KABUPATEN TASIKMALAYA,1,KEJADIAN,2021
56,57,32,3203,KABUPATEN CIANJUR,1,KEJADIAN,2014
...,...,...,...,...,...,...,...
207,208,32,3271,KOTA BOGOR,70,KEJADIAN,2019
244,245,32,3202,KABUPATEN SUKABUMI,71,KEJADIAN,2021
189,190,32,3201,KABUPATEN BOGOR,106,KEJADIAN,2019
216,217,32,3201,KABUPATEN BOGOR,183,KEJADIAN,2020
243,244,32,3201,KABUPATEN BOGOR,269,KEJADIAN,2021

In [54]:
# pd.concat([df1.df2])

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [57]:
pembelian_pelanggan = [1,2,3,4,5]

if len(pembelian_pelanggan) > 3:
    print("Anda dapat diskon 10% pada pembelian selanjutnya")
else:
    print("Anda belum mencapai jumlah pembalian yang dibutuhkan")

Anda dapat diskon 10% pada pembelian selanjutnya