In [1]:
import pandas as pd
# pd.set_option('display.max_rows', 810)
# pd.set_option('display.max_columns', 5)

df_gempa = pd.read_excel('/Dataset/bpbd-od_17602_jml_kejadian_bencana_gempa_bumi__kabupatenkota_data.xlsx')
df_banjir = pd.read_excel('/Dataset/bpbd-od_17600_jml_kejadian_bencana_banjir__kabupatenkota_data.xlsx')
df_longsor = pd.read_excel('/Dataset/bpbd-od_17606_jml_kejadian_bencana_tanah_longsor__kabupatenkota_data.xlsx')

# df = pd.concat([df_gempa, df_banjir, df_longsor])
df = pd.merge(df_gempa, df_banjir, on=('id', 'kode_provinsi', 'nama_provinsi', 'kode_kabupaten_kota', 'nama_kabupaten_kota', 'satuan', 'tahun'), how='inner')
df = pd.merge(df, df_longsor, on=('id', 'kode_provinsi', 'nama_provinsi', 'kode_kabupaten_kota', 'nama_kabupaten_kota', 'satuan', 'tahun'), how='inner')
df = df.fillna(0)
df

# df_gempa['bahaya_kejadian'] = df_gempa['jumlah_gempa_bumi'].apply(lambda jumlah : 'Bahaya' if jumlah > 1 else 'Siaga')
# df_gempa

# numbers = [1,2,3,4,5]
# doubled_numbers_map = list(map(lambda x: x*2, numbers))
# doubled_numbers_map

# doubled_numbers_for = []
# for num in numbers:
#     doubled_numbers_for.append(num*2)

# doubled_numbers_while = []
# index = 0
# while index < len(numbers):
#     doubled_numbers_while.append(numbers[index]*2)
#     index+=1

# print(doubled_numbers_map)
# print(doubled_numbers_for)
# print(doubled_numbers_while)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_gempa_bumi,satuan,tahun,jumlah_banjir,jumlah_tanah_longsor
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3,KEJADIAN,2012,0,0
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,41,KEJADIAN,2012,20,48
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,KEJADIAN,2012,1,9
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,KEJADIAN,2012,17,12
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,KEJADIAN,2012,7,36
...,...,...,...,...,...,...,...,...,...,...
265,266,32,JAWA BARAT,3275,KOTA BEKASI,0,KEJADIAN,2021,14,2
266,267,32,JAWA BARAT,3276,KOTA DEPOK,0,KEJADIAN,2021,3,2
267,268,32,JAWA BARAT,3277,KOTA CIMAHI,0,KEJADIAN,2021,6,3
268,269,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,KEJADIAN,2021,2,2
269,270,32,JAWA BARAT,3279,KOTA BANJAR,1,KEJADIAN,2021,1,3

In [88]:
data = {
    'nama' : ('Daffa', 'Junior', 'Irawan'),
    'umur' : (19, 40, 32),
    'gaji' : (5, 10, 30),
}

df_data = pd.DataFrame(data)

# def kategori_umur(umur):
#     if umur < 25:
#         return 'Muda'
#     elif 25 <= umur < 40:
#         return 'Dewasa'
#     else:
#         return 'Tua'

# df_data['kategori_umur'] = df_data['umur'].apply(kategori_umur)
# df_data

for index, row in df_data.iterrows():
    df_data.at[index, 'gaji'] = row['gaji'] * row(['gaji'] * 0.1)

print('Dataframe setelah penambahan bonus:')
print(df_data)

TypeError: can't multiply sequence by non-int of type 'float'